<!--
 * @Author: shuoye
 * @Date: 2024-12-10 11:31:27
 * @LastEditors: shuoye
 * @LastEditTime: 2025-05-22 18:23:33
 * @Description: file content
 * Copyright 2025 shuoye, All Rights Reserved.
-->
<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>


